@use './../../../styles/colors.scss';
@use './../../../styles/global-styles.scss';

.legal_notice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px; 

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 96px); 
  max-height: calc(100dvh - 96px);
  padding-bottom: 40px;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  &::-webkit-scrollbar {
    display: none; 
  }

  @media (max-width: 1050px) {
    max-height: calc(100vh - 80px);
    max-height: calc(100dvh - 80px);
    padding-bottom: 100px;
  }

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 27px;
    color: colors.$black;
    margin: 0;
    font-family: Inter;
    font-weight: 700;
    background: none;
  }

  p,
  ul,
  li {
    font-size: 16px;
    color: colors.$black;
    margin: 0;
    span{
        color: colors.$buttonBlue;
    }
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }
}

@media (max-width: 1050px) {
  .legal_notice {
    
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 22px;
    }
    
    p, ul, li {
      font-size: 14px;
    }
  }
}
