@import './../../../styles.scss';

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    position: absolute;
    padding-left: 14%;
    align-items: center;
    box-shadow: 244px -14px 24px black;
    padding-right: 5%;
    >.user{
       
        
        >.help-icon{
            &:hover{
                cursor: pointer;
                
            }
        }
         >svg rect{
            &:hover{
                cursor: pointer;
                fill: #d7d3d3;
            }
         }
    }
}