@import './../../../styles.scss';

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    position: absolute;
    padding-left: 20vw;
    align-items: center;
    box-shadow: 12vw -14px 24px black;
    padding-right: 5%;

    >.user {


        >.help-icon {
            height: 32px;
            transition: height 2 s;

            &:hover {
                cursor: pointer;
                height: 35px;



            }
        }

        svg rect {
            &:hover {
                cursor: pointer;
                fill: #d7d3d3;
            }
        }


        svg path {
            pointer-events: none;
        }


        svg circle {
            pointer-events: none;
        }
    }
}