@use './../../../styles/global-styles.scss';
@use './../../../styles/colors.scss';

.main-area {
  height: calc(100vh - 300px); 
  margin-top: 110px;
  overflow-y: auto;
}

.help_content {
  padding-left: 96px;
  padding-right: 96px;
  overflow-x: hidden;
}

.help_headline {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .arrow_container {
    cursor: pointer;
  }
}

.highlight {
  color: colors.$buttonBlue;
}

h1 {
  margin-bottom: 24px;
}

.join_guide_list {
  list-style-position: outside;
  padding-left: 32px;
  li::marker {
    line-height: 1;
  }
  li {
    line-height: 1.4;
  }
}

.join_guide_list li::marker {
  font-weight: 700;
  font-size: 27px;
}
