@import './../../../../styles.scss';

// @media (max-width: 1250px) {
//   display: none;
// }

.contact_section {
  display: flex;
}

.list_contact {
}

.single_contact {
  padding-left: 64px;
  width: 100%;
  h1 {
    background: transparent;
  }
}

.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-top: 50px;
  h1 {
    font-size: 47px;
  }

  p {
    font-size: 27px;
    font-weight: 400;
  }

  @media (max-width: 1250px) {
    margin-top: 25px;
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.seperator {
  height: 59px;
  border: 2px solid $buttonBlue;
}

.seperator_contacts {
  height: 1px;
  background-color: $bgMiddleGrey;
}

.main-area {
  display: flex;
  background-color: $bgLightGrey;
}

.return_button {
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
  }
}
