@import './../../../../../styles.scss';
@import './../../../../styles/colors.scss';

.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;

  p {
    font-size: 27px;
  }
}

.sc_top {
  display: flex;
  gap: 54px;

  > span {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
    border-radius: 70px;
    height: 120px;
    width: 120px;

    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    color: #ffffff;
  }

  .sc_menu {
    gap: 8px;
    > div {
      display: flex;
      gap: 8px;
      > button:nth-of-type(1) {
        width: 62px;
        height: 24px;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./../../../../../../public/IMG/edit-black.svg');
        &:hover {
          background-image: url('./../../../../../../public/IMG/edit-blue.svg');
        }
      }
      > button:nth-of-type(2) {
        width: 81px;
        height: 24px;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./../../../../../../public/IMG/delete-black.svg');
        &:hover {
          background-image: url('./../../../../../../public/IMG/delete-blue.svg');
        }
      }
    }
    // button {
    //   border: none;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   &:hover {
    //     color: lightblue;
    //     cursor: pointer;
    //   }
    //   img {
    //     height: 24px;
    //     width: 24px;
    //   }
    //   span {
    //     font-size: 16px;
    //     font-weight: 400;
    //   }
    // }
  }
}

.sc_bot {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 59px;
  gap: 59px;

  p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > strong {
      font-size: 16px;
      font-weight: 700px;
    }
    > a {
      color: #007cee;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
