// TEST Drag&Drop ...
.drag-test-box {
    width: 200px;
    height: 100px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.board_columns {
    display: flex;
    gap: 16px;
}

.board_column {
    width: 260px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.column_title {
    font-weight: 700;
    font-size: 16px;
}

.column_drop_area {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task_card {
    cursor: grab;
}

.task_card:active {
    cursor: grabbing;
}