.contact_section {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);

  width: 420px;

  .button_container {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: aqua;

    .button_new_contact {
      display: flex;
      justify-content: center;
      align-self: center;
      background-color: rgba(42, 54, 71, 1);
      color: white;
    }
  }

  .contacts_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact_area {
      display: flex;
      flex-direction: column;
    }

    .contact_single {
      display: flex;
      gap: 8px;
      margin: 8px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        height: 42px;
        width: 42px;
        margin: 4px;
      }

      div{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
