<section class="contact_list_section">
  <div class="button_container">
    <button class="button_new_contact" (click)="onAddContact()" aria-label="Add a Contact">
      Add new contact
      <img class="sd" src="/IMG/person_add.svg" alt="Add person icon" />
    </button>
  </div>

  <article class="contacts_list">
    <section class="contact_area" *ngFor="let group of groupedContacts$ | async">
      <article class="divider_area">
        <span>{{ group.letter }}</span>
        <div class="divider"></div>
      </article>

      <article
        class="contact_group"
        *ngFor="let c of group.contacts"
        (click)="onSelectContact(c.id)"
        [class.active]="selectedContactId() === c.id"
      >
        <div class="contact_single">
          <span [style.backgroundColor]="c.color">{{ getInitials(c.name) }}</span>

          <div>
            <span>{{ c.name }}</span>
            <small>{{ c.email }}</small>
          </div>
        </div>
      </article>
    </section>
  </article>
</section>
